.background{
  background-image: url('../public/background.jpg');
  min-height: 100vh;
  background-size: cover;
  opacity: 0.9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  /* background-color: rgb(232, 229, 229); */
  opacity: 0.95;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 20px;
  border-radius: 5px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}

.button{
  text-align: right;
  margin-bottom: 3px;
}

.footer {
  text-align: center;
}

.footer a{
  color: rgb(32, 123, 242);
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
}

a:hover{
  text-decoration: underline;
}
